<a href="https://colab.research.google.com/github/RhianneM/CPE009A_MANGCUCANG_OOP/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Indentation**

In [7]:
if 5>2:
  print ("Five is greater than two")

Five is greater than two

**Python Comments**

In [12]:
#This is a comment
print ("Hello World")

Hello World

**Variable Naming Conventions**

**Python Variable**

In [20]:
x=1
a,b= 0,-1
a,b,c= 0,-1,2

b="Sally" #This is a type of string

print ("Sally")

Sally

**CASTING**

In [23]:
b="Sally" #This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

**Type() Function**

In [25]:
 x=5
 y="John"
 print(type(x))
 print(type(y))

<class 'int'>
<class 'str'>

**"Double Quotes" or 'Single Quotes'**

In [29]:
y="John"
y='John'

print (y)

John

**Case Sensitive**

In [37]:
a=4
A="Sally"
#A will not overwrite a
print (a)
print (A)

4
Sally

**Multiple Variables**

In [38]:
x,y,z="one","two","three"
print (x)
print (y)
print (z)

one
two
three

**One Value to Multiple Variables**

In [40]:
x=y=z="four"
print (x)
print (y)
print (z)

four
four
four

**Output Variables**

In [49]:
x= "enjoying"
print ("Python programming is " +x)

Python programming is enjoying

**Other way:**

In [48]:
x= "Python is "
y= "enjoying"
z= x + y
print (z)

Python is enjoying

**Arithmetic Operations**

In [66]:
from ast import Yield
x = 5
y = 3
print (x+y)

sum=x+y
sum

print (x-y)
print (x%y)
print (x*y)
print (x/y)
print (x//y)
print (x**y)

8
2
2
15
1.6666666666666667
1
125

**Assignment Operator**

In [79]:
s=1
s += 3
print (s)

s -= 3
print (s)

s *= 3
print (s)

s /= 3
print (s)

s %= 3
print (s)

s //= 3
print (s)

s **= 3
print (s)

s = int(s)
s &= 3
print (s)

s |= 3
print (s)

s ^= 3
print (s)

s >>= 3
print (s)

s <<= 3
print (s)

4
1
3
1.0
1.0
0.0
0.0
0
3
0
0
0

**Comparison Operators**

In [81]:
t = 1
u = 2

t = u
t != u
t > u
t < u
t >= u
t <= u

True

**Logical Operator**

In [85]:
t = 1
u = 2

print (t < 5 and u <10)
print (t < 5 or u < 4)
print (not (t < 5 and u < 10))

True
True
False

**Identity Operators**

In [86]:
t = 1
u = 2

print (t is u)
print (t is not u)

False
True

**Bitwise Operator**

In [91]:
t = 1
u = 2

print  (t & u)
print (t | u)
print (t ^ u)
print (t, ~ u)
print (t << u)
print (t >> u)

0
3
3
1 -3
4
0